In [3]:
from sklearn.cross_validation import train_test_split
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("car_data.csv")

In [24]:
training_set, testing_set = train_test_split(df)

In [12]:
training_set.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
547,13961.111642,19602,Pontiac,Grand Am,SE Sedan 4D,Sedan,4,2.2,4,0,1,1
526,18620.871367,25516,Pontiac,G6,Sedan 4D,Sedan,6,3.5,4,1,0,1
300,15635.796160,1169,Chevrolet,Cobalt,LS Coupe 2D,Coupe,4,2.2,2,0,1,1
60,25589.983155,2308,Buick,Park Avenue,Sedan 4D,Sedan,6,3.8,4,1,1,0
727,27241.436178,23204,SAAB,9_5 HO,Aero Sedan 4D,Sedan,4,2.3,4,1,1,1

In [13]:
testing_set.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
92,31431.130370,11013,Cadillac,CTS,Sedan 4D,Sedan,6,2.8,4,1,1,1
314,14593.854095,18790,Chevrolet,Cobalt,LS Sedan 4D,Sedan,4,2.2,4,0,1,1
292,13135.905032,21796,Chevrolet,Cobalt,Coupe 2D,Coupe,4,2.2,2,1,1,1
746,16256.236168,10555,Saturn,Ion,Quad Coupe 2D,Coupe,4,2.2,2,0,0,1
136,36633.633819,22042,Cadillac,STS-V6,Sedan 4D,Sedan,6,3.6,4,1,1,1

In [15]:
from sklearn.linear_model import LinearRegression

In [17]:
regr = LinearRegression()

In [31]:
mileage_data = training_set[["Mileage"]]
price_data = training_set["Price"]
regr.fit(mileage_data, price_data)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [37]:
regr.score(testing_set[["Price"]], testing_set["Mileage"])

-0.036385188021675008