In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [11]:
country_data = pd.read_csv("world_data/world_data.csv") \
                .rename(columns={'\ufeffCountry Name': "Country Name"}) \
                .dropna(thresh=2)

In [12]:
country_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1070 entries, 0 to 1069
Data columns (total 6 columns):
Country Name     1070 non-null object
Country Code     1070 non-null object
Series Name      1070 non-null object
Series Code      1070 non-null object
2000 [YR2000]    928 non-null float64
2013 [YR2013]    445 non-null float64
dtypes: float64(2), object(4)
memory usage: 58.5+ KB

In [13]:
country_data.head()

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2013 [YR2013]
0,Afghanistan,AFG,"School enrollment, secondary (% gross)",SE.SEC.ENRR,NaN,54.310841
1,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,54.848561,60.931415
2,Afghanistan,AFG,Improved sanitation facilities (% of populatio...,SH.STA.ACSN,23.200000,NaN
3,Afghanistan,AFG,Improved water source (% of population with ac...,SH.H2O.SAFE.ZS,22.100000,NaN
4,Afghanistan,AFG,"Immunization, measles (% of children ages 12-2...",SH.IMM.MEAS,27.000000,75.000000

In [14]:
indicators = country_data.pivot_table(index="Country Name", columns="Series Name", values="2000 [YR2000]")

In [16]:
indicators.head(2)

Series Name,"Immunization, measles (% of children ages 12-23 months)",Improved sanitation facilities (% of population with access),Improved water source (% of population with access),"Life expectancy at birth, total (years)","School enrollment, secondary (% gross)"
Country Name,,,,,
Afghanistan,27,23.2,22.1,54.848561,NaN
Albania,95,83.8,96.5,74.272073,66.67894