In [ ]:
!pwd

In [1]:
import pandas as pd

In [38]:
data = [
    {"user_id": 1, "eye_color": "blue", "height": 60}, 
    {"user_id": 2, "eye_color": "blue", "height": 72},
    {"user_id": 3, "eye_color": "green", "height": 70},
    {"user_id": 4, "eye_color": "purple", "height": 60}
]
eye_info = pd.DataFrame(data)

In [39]:
cereal_data = [
    {"eye_color": "blue", "fav_cereal": "captain crunch", "height": 60}, 
    {"eye_color": "green", "fav_cereal": "trix", "height": 70},
]
cereal_frame = pd.DataFrame(cereal_data)

In [40]:
eye_info

  eye_color  height  user_id
0      blue      60        1
1      blue      72        2
2     green      70        3
3    purple      60        4

In [41]:
cereal_frame

  eye_color      fav_cereal  height
0      blue  captain crunch      60
1     green            trix      70

In [46]:
pd.merge(eye_info, cereal_frame, on="height", how="outer")

  eye_color_x  height  user_id eye_color_y      fav_cereal
0        blue      60        1        blue  captain crunch
1      purple      60        4        blue  captain crunch
2        blue      72        2         NaN             NaN
3       green      70        3       green            trix

In [47]:
pd.merge(eye_info, eye_info)

  eye_color  height  user_id
0      blue      60        1
1      blue      72        2
2     green      70        3
3    purple      60        4